

* {
  font-family: 'Exo 2', sans-serif;
}

.container {
  display: flex;
  margin-top: 0px;
  margin-left: 0px;
  width: 1920px;
  height: 1080px;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  opacity: 1;
}

.left {
  width: 800px;
}

/* div {
  border: 1px solid black;
} */

.ezlogo {
  margin-top: 256px;
  margin-left: 40px;
  width: 517px;
  height: 145px;
  /* UI Properties */
  /* background: transparent url('img/EZ Works Blue.png') 0% 0% no-repeat padding-box; */
  opacity: 1;
}

.sub_heading {
  margin-top: 40px;
  margin-left: 40px;
  width: 756px;
  height: 58px;
  /* UI Properties */
  text-align: left;
  /* font: normal normal normal 48px/58px Exo 2.0; */
  letter-spacing: 0px;
  color: #112949;
  opacity: 1;
  font-size: 48px;
}

.description {
  margin-top: 73px;
  margin-left: 40px;
  width: 760px;
  height: 114px;
  /* UI Properties */
  text-align: left;
  font: normal normal normal 32px/38px Exo 2.0;
  letter-spacing: 0px;
  color: #112949;
  opacity: 1;
  font-size: 32px;
}

form {
  display: flex;
}

#email {
  margin-top: 40px;
  /* margin-left: 40px; */
  width: 514px;
  height: 78px;
  /* UI Properties */
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #ABABAB;
  border-radius: 10px;
  opacity: 1;
  font-size: 32px;

}

.mail1 {
  margin-bottom: 276px;
  margin-left: 40px;
}

.button {
  margin-top: 40px;
  margin-left: 20px;
  width: 213px;
  height: 78px;
  /* UI Properties */
  background: #EA7B2C 0% 0% no-repeat padding-box;
  border: 1px solid #EA7B2C;
  border-radius: 10px;
  opacity: 1;
  font-size: 32px;
  color: white;
}

.error {
  color: red;
  /* margin-left: 40px; */
  font-size: 20px;
}

.success {
  color: green;
  /* margin-left: 40px; */
  font-size: 20px;

}


/* Right side CSS  */

.right {
  width: 1124px;
}
 .cards {
  margin-top: 256px;
  margin-left: 71px;
  margin-right: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}


.card {
  width: 75.5%;
  height: 200px;
  background: #112949 0% 0% no-repeat padding-box;
  border-radius: 10px;
  opacity: 1;
  padding: 30px;
}


.part1 {
  display: flex;
  gap: 20px;
  align-items: center;
}
.icon {
  width: 58px;
  height: 58px;
  opacity: 1;
}

.icon_heading {
  width: 173px;
  text-align: left;
  color: #3CC3F2;
  font-size: 24px;
  margin: -30px 0 -30px 0;
}

.part2 {
  width: 251px;
  height: 116px;
  margin-top: 20px;
  text-align: left;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 60px;
} 


/* Common styles for all screen sizes */

/* Mobile View (480p) */
@media (max-width: 480px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .left {
    width: 90%;
    margin: 0;
  }

  .ezlogo {
    margin: 40px 20px;
    width: 5%;
  }

  .sub_heading {
    width: 100%;
    margin: 20px 20px;
    text-align: center;
  }

  .description{
    width: 100%;
    margin: 80px 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #email{
    width: 100%;
    margin: 80px 20px 10px 20px;
  }
  .button {
    width: 100%;
    margin: 0px 20px;
  }

  .mail1 {
    margin: 0;
  }

  .error,
  .success {
    margin: 20px 20px;
  }

  .right {
    width: 90%;
    margin: 0 20px;
  }

  .cards {
    margin: 20px auto;
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }

  .icon_heading {
    margin: 0;
  }

  .part2 {
    margin: 10px 0;
  }
}

/* 720p */
/* @media (min-width: 720px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .left {
    width: 90%;
    margin: 0;
  }

  .ezlogo {
    margin: 40px 40px;
    width: 5%;
  }

  .sub_heading {
    width: 100%;
    margin: 20px 40px;
    text-align: center;
  }

  .description{
    width: 100%;
    margin: 80px 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #email{
    width: 100%;
    margin: 80px 40px 10px 40px;
  }
  .button {
    width: 100%;
    margin: 0px 40px;
  }

  .mail1 {
    margin: 0;
  }

  .error,
  .success {
    margin: 20px 40px;
  }

  .right {
    width: 90%;
    margin: 0 20px;
  }

  .cards {
    margin: 40px auto;
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }

  .icon_heading {
    width: 80%;
    margin: 0;
  }

  .part2 {
    margin: 10px 0;
    width: 80%;
  }
} */


/* iPad (2732x2048) */
/* @media (min-width: 2732px) {
  .container {
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .left {
    width: 90%;
    margin: 0;
  }

  .ezlogo {
    margin: 40px 80px;
    width: 5%;
  }

  .sub_heading {
    width: 100%;
    margin: 20px 40px;
    text-align: center;
  }

  .description{
    width: 100%;
    margin: 80px 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  #email{
    width: 100%;
    margin: 80px 40px 10px 40px;
  }
  .button {
    width: 100%;
    margin: 0px 40px;
  }

  .mail1 {
    margin: 0;
  }

  .error,
  .success {
    margin: 20px 40px;
  }

  .right {
    width: 90%;
    margin: 0 20px;
  }

  .cards {
    margin: 40px auto;
    grid-template-columns: 1fr;
  }

  .card {
    width: 90%;
    margin: 0 auto;
  }

  .icon_heading {
    width: 80%;
    margin: 0;
  }

  .part2 {
    margin: 10px 0;
    width: 80%;
  }
} */

